@media (max-width: 991px) { /* Mobile Navigation */
    body {
        background: #0E878C !important;
    }
    
    .bg-color {
        background-color: #0E878C;
    }

    .content-gradient-bg {
        background: linear-gradient(to top, #042526, #0E878C);
    }

    .content{
        padding: 20px 50px 50px 50px;
    }

    .content-container{
        min-height: 100vh;
        height: auto !important;
    } 

    .desc-right {
        width: fit-content;
        margin: auto;
    }

    .desc-pic {
        height: 275px;
        min-height: 275px;
        min-width: 275px;
        width: 275px;
    }

    .desc-stall {
        font-size: 14px;
        margin: 25px 0 0 0;
    }
    
    .desc-name {
        margin: 0;
        font-size: 35px;
    }

    .desc-price {
        margin: 0;
        font-size: 25px;
    }

    .desc-calories {
        font-size: 14px;
        margin: 0;
    }
    
    .desc-ratings {
        margin: 28px 0;
    }

    .desc-rating {
        font-size: 25px;
    }

    .desc-rates {
        line-height: 18px;
    }
    
    .desc-description {
        background-color: #0E878C;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
        color: white;
        margin: 25px 0;
        padding: 25px;
    }

    .desc-subhead {
        font-size: 20px;
        margin: 0;
    }

    .form-btn {
        border-radius: 5px;
        display: block;
        padding: 11px 16px 6px 16px;
        margin-top: 20px;
        width: 100%;
    }

    .rate-form {
        margin-top: 50px;
    }

    .rate-label {
        color: white;
        display: block;
        text-align: center;
        margin: 0 0 5px 0;
    }

    .rate-desktop {
        display: none;
    }

    .submit-rate {
        border-radius: 5px;
        display: block;
        padding: 11px 16px 6px 16px;
        margin-top: 10px;
        width: 100%;
    }

    input[type="range"]::-webkit-slider-thumb {
        background: #13BAC0;
    }

    input[type="range"]::-moz-range-thumb {
        background: #13BAC0;
    }
}

@media (min-width: 992px) { /* Desktop Navigation */
    .bg-color {
        background-color: #09575A;
    }

    .content-gradient-bg {
        background: linear-gradient(#09575A, #13BAC0);
    }

    .content-container{
        min-height: 100vh;
        height: auto !important;
    } 

    .content{
        padding: 50px;
    }

    .desc-form {
        display: flex;
        justify-content: center;
        gap: 75px;
    }

    .desc-pic {
        height: 450px;
        min-height: 450px;
        min-width: 450px;
        width: 450px;
    }

    .desc-stall {
        margin: 0;
    }

    .desc-name {
        margin: 0;
        font-size: 45px;
    }

    .desc-price {
        margin: 0;
        font-size: 35px;
    }

    .desc-calories {
        font-size: 16px;
        margin: 0 0 0 12px;
    }
    
    .desc-ratings {
        justify-content: space-evenly;
        margin: 20px 0;
    }

    .desc-rating {
        font-size: 40px;
    }

    .desc-descriptions {
        gap: 40px;
        display: flex;
    }
    
    .desc-description {
        background-color: rgb(255 255 255 / 75%);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
        color: #042526;
        margin: 0;
        padding: 25px;
    }

    .desc-subhead {
        font-size: 20px;
        margin: 0;
    }

    .form-btn {
        border-radius: 10px;
        display: block;
        margin: 40px 0 0 auto;
        padding: 19px 32px 14px 32px;
        width: fit-content;
    }

    .rate-form {
        margin: 8px 0 0 0;
        width: 450px;
    }

    .rate-label {
        color: white;
        margin: 0 0 5px 0;
    }

    .rate-mobile {
        display: none;
    }

    .submit-rate {
        border-radius: 5px;
        display: block;
        padding: 11px 16px 6px 16px;
        margin-top: 10px;
        width: 100%;
    }

    input[type="range"]::-webkit-slider-thumb {
        background: #042526;
    }

    input[type="range"]::-moz-range-thumb {
        background: #042526;
    }
}

.desc-pic {
    background: grey;
    border: 5px solid white;
    border-radius: 8px;
    object-fit: cover;
}

.desc-name {
    color: #EBB346;
    font-weight: bolder;
    text-transform: uppercase;
}

.desc-rating {
    color: #EBB346;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.desc-rates {
    margin: 0;
    text-align: center;
}

.desc-stall,
.desc-price,
.desc-calories,
.desc-ratings {
    color: white;
}

.desc-price,
.desc-calories {
    white-space: nowrap;
}

.desc-description ul {
    list-style: none;
    padding-left: 15px;
    margin: 3px 0;
}
  
.desc-description ul li:before {
    content: '✓';
    margin-right: 10px;
}

.desc-subhead {
    font-weight: bolder;
}

.form-btn,
.submit-rate {
    border: 1px white solid;
    background-color: #EBB346;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.form-btn:hover,
.submit-rate:hover {
    background-color: #BC9240;
}

input[type="range"] {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Custom height */
    background: white; /* Track color */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Semi-transparent */
    transition: opacity .15s ease-in-out; /* Transition for hover */
    border-radius: 10px; /* Rounded edges for the track */
}

input[type="range"]:hover {
    opacity: 1; /* Fully opaque on hover */
}

/* Thumb styling for Webkit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 30px; /* Custom width */
    height: 15px; /* Custom height */
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px; /* Rounded edges for the track */
}

/* Thumb styling for Mozilla (Firefox) */
input[type="range"]::-moz-range-thumb {
    width: 30px; /* Custom width */
    height: 15px; /* Custom height */
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px; /* Rounded edges for the track */
}

/* Track styling for Webkit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: white; /* Track color */
    border-radius: 10px; /* Rounded edges for the track */
}

/* Track styling for Mozilla (Firefox) */
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: white; /* Track color */
    border-radius: 10px; /* Rounded edges for the track */
}