/* Media Query */
@media (max-width: 991px) { /* Mobile Navigation */
    .content-container {
        margin-top: 84px;
    }
}

@media (min-width: 992px) { /* Desktop Navigation */
    .content-container {
        margin-top: 90px;
    }
}

/* Global Setup */
.content-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    max-width: 1440px;
    width: 100%;
    background-color: white;
}

/* Fonts */
.nav-name {
    font-family: 'Manjari', sans-serif;
}

/* Transitions */
.nav-links,
.nav-links:hover {
    transition: all 0.3s ease;
}