/* Media Query */
@media (max-width: 991px) { /* Mobile Navigation */
    .register-mobile {
        display: flex;
    }

    .register-desktop {
        display: none;
    }
}

@media (min-width: 992px) { /* Desktop Navigation */
    .register-mobile {
        display: none;
    }

    .register-desktop {
        display: flex;
    }
}